.wizardBox{
    
    width: 50%;
    height: auto;
    margin: auto;
    margin-top: auto;
    font-family: "Times New Roman", Times, serif;
   
}

.finalLabel{
    margin-top: 20px;
    margin-left: 20px;
}
